<h1>ここは楽天市場APIを使用しています</h1>
<% if params[:keyword].present? %>
  <div class="lists-wrapper">
    <% @items.first(27).each do |item| %>
      <div class="lists">
        <div class="item-image">
          <%= link_to (image_tag(item.medium_image_urls[0])), item.url %>
        </div>
        <div class="price-outer">
          <div class="price-inner">
            <p> 価格 <%= item.price %> 円 </p>
          </div>
        </div>
        <div class="sub-title">
          <p><%= item.name %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>