
<%# @keywords = @keywords.split(/[[:blank:]]+/) %>
<%#= @keywords %>
<%# @keywords.each do |keyword| %>
  <%#= keyword %>
<% if params[:keyword].present? %>
  <div>
    <%= @items.count %>件ヒットしました
  </div>
  <% @items.first(3).each do |item| %>
    <div class="list">
      <%= link_to (image_tag(item.medium_image_urls[0])), item.url %>
      <%= item.name %>
    </div>
  <% end %>
<% end %>
<%# end %>
