<header class="title">
  <h1>Rakuten Search</h1>
</header>

<body>
  <main>
    <h1>ここで、サジェストのAPIを叩いてます。fetchできないため、ログのみの確認になります。</h1>
    <%= link_to "楽天市場APIへ移動する", root_path %>
    <div id="app">
    </div>
  </main>
</body>
